<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Height: <input type="number" name="height", placeholder="Enter height in cm" required/>
            <br><br>
            Weight: <input type="number" name="weight", placeholder="Enter weight in kg" required/>
            <br><br>
            <button>Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>